{% extends 'control-panel/index.html.twig'%}

{% block header %}{% endblock %}

{% block content %}
    <style>
        html, body {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="container-fluid vh-100">
        <div class="row d-flex flex-row flex-nowrap">
            <div
                id="cp-panel-left"

                class="
                    bg-light
                    scroll-primary
                    col-md-4
                    col-lg-3
                    min-vh-100
                    position-relative
                    pe-2
                    p-0
                "
            >
                <div
                    class="d-flex align-items-start h-100"
                >
                    <div
                        id="tools-icon"
                        class="tools-icon nav flex-column nav-pills bg-dark h-100"
                        role="tablist"
                        aria-orientation="vertical"
                    >
                        {% for sidebarTab in sidebar %}
                            <button
                                class="
                                    mt-2
                                    w-100
                                    btn
                                    border-0
                                    text-white
                                    text-center
                                    {% if loop.index == 1 %}active{% endif %}
                                "
                                id="{{ sidebarTab.id }}-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ sidebarTab.id }}"
                                type="button"
                                role="tab"
                                aria-controls="{{ sidebarTab.id }}"
                                aria-selected="true"
                            >
                                <svg class="bi bi-1"><use xlink:href="#icon-{{ sidebarTab.id }}"/></svg>
                                <br>
                                <span class="icon-text">{{ sidebarTab.name }}</span>
                            </button>
                        {% endfor %}

                        <button
                            class="btn border-0 text-white"
                            id="sidebar--save-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#sidebar--save"
                            type="button"
                            role="tab"
                            aria-controls="sidebar--save"
                            aria-selected="true"
                        >
                            <svg class="bi bi-1"><use xlink:href="#icon-sidebar--save"/></svg>
                            <br>
                            <span class="icon-text">Save</span>
                        </button>
                    </div>

                    {{ form_start(builderForm, {'method': 'POST',
                        'attr': {
                            'id': builderForm.vars.id,
                            'class': 'tab-content bg-light h-100 w-100 p-1 pe-0'
                        }
                    }) }}
                        {% for sidebarTab in sidebar %}
                            <div
                                id="{{ sidebarTab.id }}"
                                class="
                                    tab-pane
                                    fade
                                    show
                                    overflow-y-auto
                                    vh-100
                                    pe-2
                                    {% if loop.index == 1 %}active{% endif %}
                                "
                                role="tabpanel"
                                aria-labelledby="{{ sidebarTab.id }}-tab"
                            >
                                {% include sidebarTab.path %}
                            </div>
                        {% endfor %}

                        <div
                            id="sidebar--save"
                            class="
                                tab-pane
                                fade
                                show
                                overflow-y-auto
                                vh-100
                                pe-2
                            "
                            role="tabpanel"
                            aria-labelledby="sidebar--save-tab"
                        >
                            <div class="d-flex flex-column justify-content-center mt-3">
                                {{ form_row(builderForm.cancelBtn) }}
                                {{ form_row(builderForm.backBtn) }}
                                {{ form_row(builderForm.saveBtn) }}
                                {{ form_row(builderForm.previewBtn) }}
                            </div>
                        </div>
                    {{ form_end(builderForm) }}
                </div>

                <div
                    id="cp-gutter"
                    class="gutter bg-secondary"
                >
                </div>
            </div>

            <div
                id="cp-panel-right"

                class="
                    col-md-8
                    col-lg-9
                    p-0
                    overflow-hidden
                "
            >
                <iframe
                    id="preview-frame"
                    class="
                        scroll-primary
                        w-100
                        vh-100
                        overflow-auto
                        border-0
                    "
                    src="{{ absolute_url(path('cp_variant_preview', {'variant': variant.id})) }}"
                    title="preview">
                </iframe>

            </div>

        </div>
    </div>
{% endblock %}

{% block scriptsbottom %}
<script type="application/javascript">
    const leftPane = document.getElementById("cp-panel-left");
    const rightPane = document.getElementById("cp-panel-right");
    const gutter = document.getElementById("cp-gutter");

    function resizer(e) {
        window.addEventListener('mousemove', mousemove);
        window.addEventListener('mouseup', mouseup);

        let prevX = e.x;
        const leftPanel = leftPane.getBoundingClientRect();
        const rightPanel = rightPane.getBoundingClientRect();

        function mousemove(e) {
            let newX = e.x - prevX;

            if (leftPanel.width + newX < 200) {
                return;
            }
            leftPane.style.width = leftPanel.width + newX + "px";
            rightPane.style.width = rightPanel.width - newX + "px";

        }

        function mouseup() {
            window.removeEventListener('mousemove', mousemove);
            window.removeEventListener('mouseup', mouseup);
        }
    }

    gutter.addEventListener('mousedown', resizer);

    $(".formSubmit.btn-media-submit").click(function(event) {
        event.preventDefault();
        const me = $(this);
        me.toggleClass('disabled');
        me.attr("disabled", false);

        const form = $('#{{ builderForm.vars.id }}');

        const myId = me.prop('id');
        const targetId = myId.replace('removeBtn', 'toRemove')
            .replace('generateBtn', 'toGenerate')
            .replace('getFromStockBtn', 'toGetFromStock')
        ;
        const stockTagsId = myId.replace('removeBtn', 'stockTags')
            .replace('generateBtn', 'stockTags')
            .replace('getFromStockBtn', 'stockTags')
        ;

        const stockTags = $('#' + stockTagsId);

        console.log(stockTags.prop('value'));
        console.log(document.getElementById(stockTagsId));

        const hiddenInput = $('#' + targetId);

        hiddenInput.prop('value', true);
        const formData = form.serialize();

        $.ajax({
            type: form.prop('method'),
            url: form.prop('action'),
            data: formData,
        })
            .done(function(data) {
                document.getElementById('preview-frame').contentWindow.location.reload();
            })
            .always(function(data) {
                hiddenInput.prop('value', false);
                me.toggleClass('disabled');
                me.removeAttr("disabled");
            })
        ;

        return false; // avoid to execute the actual submit of the form.
    })
</script>
{% endblock %}
