{% extends 'control-panel/index.html.twig'%}
{% block header %}{% endblock %}

{% block content %}
    <style>
        html, body {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        .gutter {
            width: 10px;
            height: 100%;
            /*background: #666;*/
            position: absolute;
            top: 0;
            right: 0;
            cursor: col-resize;
            box-shadow: 0px 8px 8px 3px rgba(96, 94, 94, 0.34), inset 0 0 5px rgba(0, 0, 255, 0.34);
        }
    </style>

    <div class="container-fluid vh-100">
        <div class="row d-flex flex-row flex-nowrap">
            <div
                id="cp-panel-left"

                class="
                    bg-light
                    scroll-primary
                    col-md-4
                    col-lg-3
                    h-100
                    p-1
                    overflow-y-auto
                    vh-100
                    position-relative
                    pe-2
                "
            >

                {{ form_start(builderForm, {'method': 'POST'}) }}

                    {% include 'control-panel/variant/builder/sidebar/header.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/navigation.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/hero.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/features.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/how-it-works.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/testimonial.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/subscriptions.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/newsletter.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/footer.html.twig' %}

                    {% include 'control-panel/variant/builder/sidebar/design-settings.html.twig' %}

                    <div class="d-flex flex-row justify-content-between  mt-3">
                        {{ form_row(builderForm.cancelBtn) }}
                        {{ form_row(builderForm.backBtn) }}
                        {{ form_row(builderForm.saveBtn) }}
                        {{ form_row(builderForm.previewBtn) }}
                    </div>

                {{ form_end(builderForm) }}

                <div id="cp-gutter" class="gutter bg-secondary"></div>
            </div>

            <div
                id="cp-panel-right"

                class="
                    col-md-8
                    col-lg-9
                    p-0
                    overflow-hidden
                "
            >
                <iframe
                    class="
                        scroll-primary
                        w-100
                        vh-100
                        overflow-auto
                        border-0
                    "
                    src="{{ absolute_url(path('cp_variant_preview', {'variant': variant.id})) }}"
                    title="preview">
                </iframe>

            </div>

        </div>
    </div>
{% endblock %}

{% block scriptsbottom %}
<script type="application/javascript">
    const leftPane = document.getElementById("cp-panel-left");
    const rightPane = document.getElementById("cp-panel-right");
    const gutter = document.getElementById("cp-gutter");

    function resizer(e) {
        window.addEventListener('mousemove', mousemove);
        window.addEventListener('mouseup', mouseup);

        let prevX = e.x;
        const leftPanel = leftPane.getBoundingClientRect();
        const rightPanel = rightPane.getBoundingClientRect();

        function mousemove(e) {
            let newX = e.x - prevX;

            if (leftPanel.width + newX < 200) {
                return;
            }
            leftPane.style.width = leftPanel.width + newX + "px";
            rightPane.style.width = rightPanel.width - newX + "px";

        }

        function mouseup() {
            window.removeEventListener('mousemove', mousemove);
            window.removeEventListener('mouseup', mouseup);
        }
    }

    gutter.addEventListener('mousedown', resizer);
</script>
{% endblock %}
