<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {% if meta is defined and meta.title is defined %}
                {{ meta.title }}
            {% elseif title is defined %}
                {{ title }}
            {% else %}
                Welcome
            {% endif %}
        {% endblock %}
    </title>

    {% if meta is defined %}
        {% include '_parts/base/meta.html.twig' %}
    {% endif %}

    <style>
        @font-face {
            font-family: 'Aller Regular'; /*a name to be used later*/
            src: url('{{ absolute_url(asset('fonts/Aller_Rg.ttf', 'css')) }}'); /*URL to font*/
        }
    </style>

    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap-icons.min.css', 'bootstrap')) }}">
    <link href="{{ absolute_url(asset('css/bootstrap.min.css', 'bootstrap')) }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ absolute_url(asset('style.css', 'css')) }}">

</head>

<body >

{% include'_parts/base/icons.html.twig' %}

<div id="home"></div>

{% if data.parts.header is defined and data.parts.header is not null and data.parts.header.isActive %}
<div id="header" class="fixed-top">
    {% block header %}
        {% include '_parts/header/' ~ data.parts.header.template ~ '.html.twig' with {'data': data.parts.header.data} %}
    {% endblock %}

    <div>
        {% embed "_parts/base/notification/flash.html.twig" %}{% endembed %}
    </div>
</div>
{% endif %}

{% block content %}
    <div id="page-landing" class="d-flex flex-column min-vh-100 justify-content-between">

        {% if data.parts.hero is defined and data.parts.hero is not null and data.parts.hero.isActive %}
            {% include '_parts/hero/' ~ data.parts.hero.template ~ '.html.twig'  with {'data': data.parts.hero.data} %}
        {% endif %}

        {% if data.parts.features is defined and data.parts.features is not null and data.parts.features.isActive %}
            {% include '_parts/features/' ~ data.parts.features.template ~ '.html.twig'  with {'data': data.parts.features.data} %}
        {% endif %}

        {% if data.parts.howitworks is defined and data.parts.howitworks is not null and data.parts.howitworks.isActive %}
            {% include '_parts/how-it-works/' ~ data.parts.howitworks.template ~ '.html.twig'  with {'data': data.parts.howitworks.data} %}
        {% endif %}

        {% if data.parts.testimonial is defined and data.parts.testimonial is not null and data.parts.testimonial.isActive %}
            {% include '_parts/testimonial/' ~ data.parts.testimonial.template ~ '.html.twig'  with {'data': data.parts.testimonial} %}
        {% endif %}

        {% if data.parts.pricing is defined and data.parts.pricing is not null and data.parts.pricing.isActive %}
            {% include '_parts/pricing/' ~ data.parts.pricing.template ~ '.html.twig'  with {'data': data.parts.pricing.data} %}
        {% endif %}

        {% if data.parts.newsletter is defined and data.parts.newsletter is not null and data.parts.newsletter.isActive %}
            {% include '_parts/newsletter/' ~ data.parts.newsletter.template ~ '.html.twig'  with {'data': data.parts.newsletter} %}
        {% endif %}

        {% if data.parts.footer is defined and data.parts.footer is not null and data.parts.footer.isActive %}
            {% include '_parts/footer/' ~ data.parts.footer.template ~ '.html.twig'  with {'data': data.parts.footer} %}
        {% endif %}

    </div>

{#    {% include 'landing-page/components/sections/checkout/simple.html.twig' %}#}
{% endblock %}

<script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js', 'bootstrap')) }}"></script>

{% block scriptsbottom %}
<script type="application/javascript">
    function scrollTo(hash) {
        // TODO FIX scrolling: on click cannot return to the top. hidinge header
        // location.hash = "#" + hash;
    }

    const btnSubmitCheckout = document.getElementById("btn-submit-checkout");
    const btnBackToLanding = document.getElementById("btn-back-to-landing");
    const btnGoToPayment = document.querySelectorAll(".btn-goto-payment");
    const alerts = document.querySelectorAll(".alert");
    const pageLanding = document.getElementById("page-landing");
    const pageCheckout = document.getElementById("page-checkout");


    btnSubmitCheckout && btnSubmitCheckout.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
    });

    btnBackToLanding && btnBackToLanding.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
        pageLanding && pageLanding.classList.toggle("d-none");
        pageCheckout && pageCheckout.classList.toggle("d-none");
        scrollTo('pricing');
    });

    btnGoToPayment && btnGoToPayment.forEach((e) => e.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();;
        pageLanding && pageLanding.classList.toggle("d-none");
        pageCheckout && pageCheckout.classList.toggle("d-none");
    }));

    alerts && alerts.forEach((e) => e.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
        e.target.remove();
    }));


</script>
{% endblock %}

</body>
</html>
