<!-- Pricing Section -->
<section id="pricing" class="pricing">

    <div class="container text-center">

        {% if data.head is defined and data.head is not null and data.head|length > 0 %}
            <div class="row">
                <div class="col mb-5">
                    <h2>{{ data.head }}</h2>
                </div>
            </div>
        {% endif %}

        <div class="row mt-5">

            {% for plan in data.items %}
            <div class="col-md-4">
                <div class="
                    pricing-table
                    h-100
                    d-flex
                    flex-column
                    justify-content-between
{% if loop.index == 2 %}text-white pricing-primary{% endif %}
                ">
                    <h3>{{ plan.head }}</h3>

                    <div
                        class="
                        h-100
                            d-flex
                            flex-column
                            justify-content-between
                        "
                    >
                        <div>
                        {% for proposal in plan.description %}
                            <p>{{ proposal }}</p>
                        {% endfor %}
                        </div>
                        <div class="price {% if loop.index == 2 %}text-white{% else %}text-primary{% endif %}">{{ plan.currencySign }}{{ plan.price }}</div>
                    </div>
                    <a
                        href="{{ plan.callToActionButton.link }}"
                        class="btn btn-primary rounded-5 btn-goto-payment"
                    >
                        {{ plan.callToActionButton.text }}
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</section>
