<!-- Header Section -->
<header class="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">

                {% if data.brand.media.id is defined and data.brand.media.id is not null %}
                    <a class="navbar-brand" href="#">
                        <div
                            class="header-brand-logo"
                        >
                            {% if data.brand.media.src is defined and data.brand.media.src is not null %}
                                <img
                                    class="h-100"
                                    src="{{ data.brand.media.src }}"
                                    alt="icon"
                                >
                            {% else %}
                                <img
                                    class="h-100"
                                    src="{{ absolute_url(path('app_media_show', {'media': data.brand.media.id})) }}"
                                    alt="icon"
                                >
                            {% endif %}

                        </div>
                    </a>
                {% else %}
                    <a class="navbar-brand" href="#">
                        {{ data.brand.text }}
                    </a>
                {% endif %}

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if data.navigation|length > 0 %}
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% for key, el in data.navigation %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#{{ key }}">{{ el }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if data.callToActionButton.text is defined %}
                    <a
                        href="{{ data.callToActionButton.link }}"
                        class="btn btn-primary rounded-5 btn-goto-payment ms-auto"
                    >
                        {{ data.callToActionButton.text }}
                    </a>
                {% endif %}

            </div>

        </div>
    </nav>
</header>
