<div>
    <div class="d-none">
        {{ form_row(form.toRemove, {'label': false}) }}
        {{ form_row(form.toGenerate, {'label': false}) }}
        {{ form_row(form.toGetFromStock, {'label': false}) }}
        {{ form_row(form.toSetFromCatalog, {'label': false}) }}
        {{ form_row(form.systemId, {'label': false}) }}
        {{ form_row(form.removeBtn, {'label': false}) }}
        {{ form_row(form.generateBtn, {'label': false}) }}
        {{ form_row(form.getFromStockBtn, {'label': false}) }}
        {{ form_row(form.getFromCatalogBtn, {'label': false}) }}
        {{ form_row(form.content, {'label': false}) }}
    </div>

    <!-- Button trigger modal -->
    <button
        id="{{ form.vars.id }}_media_modal_btn_show"
        type="button"
        class="
            sidebar--btn-media
            sidebar--btn-media-open-modal
            btn
            btn-dark
            m-0
            border-0
            shadow-none
            rounded-0
            p-3
        "
        data-bs-toggle="modal"
        data-bs-target="#{{ form.vars.id }}_media_modal"

        data-direction="0"
        data-content-target="#{{ form.vars.id }}_media_catalog_content"
        data-btn-prev="#{{ form.vars.id }}_media_catalog_prev"
        data-btn-next="#{{ form.vars.id }}_media_catalog_next"
        data-content-target-share-stock="#{{ form.vars.id }}_media_share_stock_content"
    >
        {{ label ?? 'Edit Image' }}
    </button>

    <!-- Modal -->
    <div
        class="modal fade"
        id="{{ form.vars.id }}_media_modal"
        data-bs-keyboard="true"
        tabindex="-1"
        aria-labelledby="{{ form.vars.id }}_media_modal_label"
        aria-hidden="true"
    >

        <!-- Vertically centered scrollable modal -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

            <div class="modal-content rounded-0">
                <div class="modal-header bg-dark text-white rounded-0 border-0">
                    <h1 class="modal-title fs-5" id="{{ form.vars.id }}_media_modal_label">Media configurator</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-0 bg-light">
                    <ul class="nav nav-pills mt-0 mb-1 justify-content-between px-1 bg-dark" id="{{ form.vars.id }}_media_content_tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                    active
                                "
                                id="{{ form.vars.id }}_modal_catalog-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_catalog"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_catalog"
                                aria-selected="true"
                            >
                                My
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                id="{{ form.vars.id }}_modal_upload-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_upload"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_upload"
                                aria-selected="false"
                            >
                                Upload
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                id="{{ form.vars.id }}_modal_share_stock-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_share_stock"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_share_stock"
                                aria-selected="false"
                            >
                                Share Stock
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                id="{{ form.vars.id }}_modal_ai_generate-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_ai_generate"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_ai_generate"
                                aria-selected="false"
                            >
                                AI Generated
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content p-1 bg-light" id="{{ form.vars.id }}_media_content_tab">

                        {% include 'control-panel/variant/builder/form-component/media-uploader-tab-pane-my-catalog.html.twig' %}
                        {% include 'control-panel/variant/builder/form-component/media-uploader-tab-pane-image-upload.html.twig' %}
                        {% include 'control-panel/variant/builder/form-component/media-uploader-tab-pane-share-stock.html.twig' %}



                        <div class="tab-pane fade" id="{{ form.vars.id }}_modal_ai_generate" role="tabpanel" aria-labelledby="{{ form.vars.id }}_modal_ai_generate-tab" tabindex="0">

                            <label
                                for="{{ form.generateBtn.vars.id }}"
                                type="button"
                                class="
                                    modal--nav-media-btn
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                data-click-target="#{{ form.generateBtn.vars.id }}"
                            >
                                Generate with AI
                            </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer bg-dark text-white py-0 px-1 rounded-0 d-flex flex-row justify-content-between">
                    <label
                        for="{{ form.removeBtn.vars.id }}"
                        type="button"
                        class="
                            modal--nav-media-btn
                            btn
                            btn-dark
                            m-0
                            border-0
                            shadow-none
                            rounded-0
                            p-3
                        "
                        data-click-target="#{{ form.removeBtn.vars.id }}"
                    >
                        Remove
                    </label>
                </div>
            </div>

        </div>

    </div>

</div>
