<div>
    <div class="d-none">
        {{ form_row(form.toRemove) }}
        {{ form_row(form.toGenerate) }}
        {{ form_row(form.toGetFromStock) }}
        {{ form_row(form.toSetFromCatalog) }}
        {{ form_row(form.systemId) }}
        {{ form_row(form.removeBtn) }}
        {{ form_row(form.generateBtn) }}
        {{ form_row(form.getFromStockBtn) }}
        {{ form_row(form.getFromCatalogBtn) }}
    </div>

    <!-- Button trigger modal -->
    <button
        id="{{ form.vars.id }}_media_modal_btn_show"
        type="button"
        class="
            sidebar--btn-media
            media-loader
            btn
            btn-dark
            m-0
            border-0
            shadow-none
            rounded-0
            p-3
        "
        data-bs-toggle="modal"
        data-bs-target="#{{ form.vars.id }}_media_modal"

        data-direction="0"
        data-content-target="#{{ form.vars.id }}_media_catalog_content"
        data-btn-prev="#{{ form.vars.id }}_media_catalog_prev"
        data-btn-next="#{{ form.vars.id }}_media_catalog_next"
    >
        {{ label ?? 'Edit Image' }}
    </button>

    <!-- Modal -->
    <div
        class="modal fade"
        id="{{ form.vars.id }}_media_modal"
        data-bs-keyboard="true"
        tabindex="-1"
        aria-labelledby="{{ form.vars.id }}_media_modal_label"
        aria-hidden="true"
    >

        <!-- Vertically centered scrollable modal -->
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

            <div class="modal-content rounded-0">
                <div class="modal-header bg-dark text-white rounded-0 border-0">
                    <h1 class="modal-title fs-5" id="{{ form.vars.id }}_media_modal_label">Media configurator</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-0 bg-light">
                    <ul class="nav nav-pills mt-0 mb-1 justify-content-between px-1 bg-dark" id="{{ form.vars.id }}_media_content_tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                    active
                                "
                                id="{{ form.vars.id }}_modal_catalog-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_catalog"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_catalog"
                                aria-selected="true"
                            >
                                My
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                id="{{ form.vars.id }}_modal_upload-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_upload"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_upload"
                                aria-selected="false"
                            >
                                Upload
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                id="{{ form.vars.id }}_modal_random-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_random"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_random"
                                aria-selected="false"
                            >
                                Share Stock
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="
                                    modal--nav-media-btn
                                    btn-tab
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                id="{{ form.vars.id }}_modal_ai_generate-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#{{ form.vars.id }}_modal_ai_generate"
                                type="button"
                                role="tab"
                                aria-controls="{{ form.vars.id }}_modal_ai_generate"
                                aria-selected="false"
                            >
                                AI Generated
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content p-1 bg-light" id="{{ form.vars.id }}_media_content_tab">

                        <div class="tab-pane fade show active" id="{{ form.vars.id }}_modal_catalog" role="tabpanel" aria-labelledby="{{ form.vars.id }}_modal_catalog-tab" tabindex="0">
                            <div class="tab-pane-content d-flex flex-column justify-content-between align-items-baseline">
                                <div
                                    data-click-target="#{{ form.getFromCatalogBtn.vars.id }}"
                                    data-media-id-field="#{{ form.systemId.vars.id }}"
                                    data-click-target-mask="#{{ form.toSetFromCatalog.vars.id }}"
                                    id="{{ form.vars.id }}_media_catalog_content"
                                    class="media-catalog d-flex flex-row flex-wrap justify-content-between mb-5 w-100"
                                >

                                </div>

                                <div class="d-flex flex-row justify-content-between align-items-baseline w-100 pb-3">
                                    <button
                                        id="{{ form.vars.id }}_media_catalog_prev"
                                        type="button"
                                        class="
                                        modal--tab-media-btn
                                        modal--tab-media-btn-prev
                                        btn
                                        btn-dark
                                        border-0
                                        shadow-none
                                        rounded-0
                                        p-2
                                        px-3
                                        pe-5
                                        text-center
                                    "
                                        data-direction="-1"
                                        data-content-target="#{{ form.vars.id }}_media_catalog_content"
                                        data-btn-prev="#{{ form.vars.id }}_media_catalog_prev"
                                        data-btn-next="#{{ form.vars.id }}_media_catalog_next"
                                    >
                                        <svg class="bi bi-1 mb-1"><use xlink:href="#icon-arrow-left-fill"/></svg>
                                        <span class="media-arrow-page-numbers"></span>
                                    </button>
                                    <button
                                        id="{{ form.vars.id }}_media_catalog_more"
                                        type="button"
                                        class="
                                        modal--tab-media-btn
                                        btn-load-more
                                        media-loader
                                        btn
                                        btn-dark
                                        border-0
                                        shadow-none
                                        rounded-0
                                        p-2
                                    "
                                        data-direction="1"
                                        data-content-target="#{{ form.vars.id }}_media_catalog_content"
                                        data-btn-prev="#{{ form.vars.id }}_media_catalog_prev"
                                        data-btn-next="#{{ form.vars.id }}_media_catalog_next"
                                    >
                                        More
                                    </button>
                                    <button
                                        id="{{ form.vars.id }}_media_catalog_next"
                                        type="button"
                                        class="
                                        modal--tab-media-btn
                                        modal--tab-media-btn-next
                                        btn
                                        btn-dark
                                        border-0
                                        shadow-none
                                        rounded-0
                                        p-2
                                        px-3
                                        ps-5
                                        text-center
                                    "
                                        data-direction="1"
                                        data-content-target="#{{ form.vars.id }}_media_catalog_content"
                                        data-btn-prev="#{{ form.vars.id }}_media_catalog_prev"
                                        data-btn-next="#{{ form.vars.id }}_media_catalog_next"
                                    >
                                        <span class="media-arrow-page-numbers"></span>
                                        <svg class="bi bi-1 mb-1"><use xlink:href="#icon-arrow-right-fill"/></svg>
                                    </button>

                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="{{ form.vars.id }}_modal_upload" role="tabpanel" aria-labelledby="{{ form.vars.id }}_modal_upload-tab" tabindex="0">
                            {{ form_row(form.file) }}
                            <button
                                id="{{ form.vars.id }}_media_upload_previewBtn"
                                type="button"
                                class="
                                    formSubmit
                                    modal--nav-media-btn
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                    ms-1
                                "
                            >
                                Upload
                            </button>
                        </div>
                        <div class="tab-pane fade" id="{{ form.vars.id }}_modal_random" role="tabpanel" aria-labelledby="{{ form.vars.id }}_modal_random-tab" tabindex="0">

                            {{ form_row(form.stockTags) }}

                            <button
                                id="{{ form.getFromStockBtn.vars.id }}_label"
                                type="button"
                                class="
                                    modal--nav-media-btn
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                data-click-target="#{{ form.getFromStockBtn.vars.id }}"
                            >
                                Get Random Image
                            </button>
                        </div>
                        <div class="tab-pane fade" id="{{ form.vars.id }}_modal_ai_generate" role="tabpanel" aria-labelledby="{{ form.vars.id }}_modal_ai_generate-tab" tabindex="0">

                            <label
                                for="{{ form.generateBtn.vars.id }}"
                                type="button"
                                class="
                                    modal--nav-media-btn
                                    btn
                                    btn-dark
                                    m-0
                                    border-0
                                    shadow-none
                                    rounded-0
                                    p-3
                                "
                                data-click-target="#{{ form.generateBtn.vars.id }}"
                            >
                                Generate with AI
                            </label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer bg-dark text-white py-0 px-1 rounded-0 d-flex flex-row justify-content-between">
                    <label
                        for="{{ form.removeBtn.vars.id }}"
                        type="button"
                        class="
                            modal--nav-media-btn
                            btn
                            btn-dark
                            m-0
                            border-0
                            shadow-none
                            rounded-0
                            p-3
                        "
                        data-click-target="#{{ form.removeBtn.vars.id }}"
                    >
                        Remove
                    </label>
                </div>
            </div>

        </div>

    </div>

</div>
