<!-- Footer Section -->
<footer class="footer">
    <div class="container">

        {% if data.head is defined and data.head is not null and data.head|length > 0 %}
            <div class="row">
                <div class="col mb-5">
                    <h2>{{ data.head }}</h2>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {% if data.copyright is defined and data.copyright is not null %}
            <p>&copy; 2024 {{ data.copyright }}</p>
            {% endif %}
            <p>
                <a role="button" class="text-black">Privacy Policy</a> |

                <a role="button" class="text-black">Terms of Service</a>
            </p>
            <p>
                {% for socialName, link in data.socialLinks %}
                    {% if link is defined and link is not null %}
                        <a
                            href="{{ link }}"
                        >
                            <img
                                src="{{ absolute_url(asset('social-icons/' ~ socialName ~ '.png', 'img')) }}"
                                alt="{{ socialName }}"
                                title="{{ socialName }}"
                            >
                        </a>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</footer>
