<!-- Testimonials Section -->
<section id="testimonials" class="testimonials">
    <div class="container text-center">

        {% if data.head is defined and data.head is not null and data.head|length > 0 %}
            <div class="row">
                <div class="col mb-5">
                    <h2>{{ data.head }}</h2>
                </div>
            </div>
        {% endif %}

    </div>

    <div id="testimonialsCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

        <div class="carousel-indicators">
            {% for item in data.items %}
                <button
                    type="button"
                    data-bs-target="#testimonialsCarousel"
                    data-bs-slide-to="{{ loop.index-1 }}"
                    aria-label="Slide {{ loop.index-1 }}"
                    {% if loop.index == 1 %}
                        class="active"
                        aria-current="true"
                    {% endif %}
                ></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">

            {% for item in data.items %}
                {% set itemHasMedia = item.media.ownerId is defined and item.media.ownerId is not null %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="container">
                        <div class="testimonial carousel-caption">
                            {% if itemHasMedia %}
                                {% if item.media.url is defined and item.media.url is not null%}
                                    <img
                                        src="{{ item.media.url }}"
                                        class="rounded-circle mb-3"
                                        alt="icon"
                                    >
                                {% elseif item.media.content is defined and item.media.content is not null %}
                                    <img
                                        src="data:{{ item.media.mimeType }};base64,{{ item.media.content }}"
                                        class="rounded-circle mb-3"
                                        alt="icon"
                                    >
                                {% elseif item.media.id is defined and item.media.id is not null %}
                                    <img
                                        src="{{ absolute_url(path('app_media_show', {'media': item.media.id})) }}"
                                        class="rounded-circle mb-3"
                                        alt="icon"
                                    >
                                {% endif %}
                            {% endif %}
                            <p>{{ item.description ?? null }}</p>
                            <h5>{{ item.headline ?? null }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#testimonialsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

</section>
