<!-- Testimonials Section -->
<section id="testimonials" class="testimonials">
    <div class="container text-center">

        {% if data.head is defined and data.head is not null and data.head|length > 0 %}
            <div class="row">
                <div class="col mb-5">
                    <h2>{{ data.head }}</h2>
                </div>
            </div>
        {% endif %}

    </div>

    <div id="testimonialsCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

        <div class="carousel-indicators">
            {% for item in data.items %}
                <button
                    type="button"
                    data-bs-target="#testimonialsCarousel"
                    data-bs-slide-to="{{ loop.index-1 }}"
                    aria-label="Slide {{ loop.index-1 }}"
                    {% if loop.index == 1 %}
                        class="active"
                        aria-current="true"
                    {% endif %}
                ></button>
            {% endfor %}
        </div>

        <div class="carousel-inner">

            {% for item in data.items %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="container">
                        <div class="testimonial carousel-caption">
                            <img
                                src="{{ absolute_url(asset( item.thumb, 'img')) }}"
                                alt="{{ item.head }}"
                                class="rounded-circle mb-3"
                            >
                            <p>{{ item.description }}</p>
                            <h5>{{ item.head }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#testimonialsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#testimonialsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

</section>
