<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if meta is defined and meta.title is defined %}{{ meta.title }}{% elseif title is defined %}{{ title }}{% else %}Welcome{% endif %}{% endblock %}</title>

    {% if meta is defined %}
        {% include 'landing-page/meta.html.twig' %}
    {% endif %}

    <style>
        @font-face {
            font-family: 'Aller Regular'; /*a name to be used later*/
            src: url('{{ absolute_url(asset('fonts/Aller_Rg.ttf', 'css')) }}'); /*URL to font*/
        }
    </style>

    <link rel="stylesheet" href="{{ absolute_url(asset('use-bootstrap-tag.min.css', 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('highlight.default.min.css', 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap-icons.min.css', 'bootstrap')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css', 'bootstrap')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('style.css', 'css')) }}">

</head>

<body class="bg-light">

{% include'icons.html.twig' %}

<div id="home"></div>

{% block header %}
<div id="header" class="fixed-top z-3">
    {% include "landing-page/components/sections/header/fixed-top.html.twig" %}
</div>
{% endblock %}

<div id="notification-flash-messages" class="pt-3 mt-5 position-absolute top-0 z-2 w-100">
    {% embed "_notification/flash/messages.flash.html.twig" %}{% endembed %}
</div>

<div class="position-relative z-0">
{% block content %}
{% endblock %}
</div>

<div class="position-relative z-0">
{% block footer %}
    {% include 'landing-page/components/sections/footer/standard.html.twig' %}
{% endblock %}
</div>

<script src="{{ absolute_url(asset('use-bootstrap-tag.min.js', 'js')) }}"></script>
<script src="{{ absolute_url(asset('highlight.min.js', 'js')) }}"></script>
<script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js', 'bootstrap')) }}"></script>

<script>
    function printTheJSONInPrettyFormat(json) {
        return JSON.stringify(JSON.parse(json), undefined, 4);
    }

    const alerts = document.querySelectorAll(".alert")

    alerts && alerts.forEach((e) => e.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
        e.target.remove();
    }));

    document.addEventListener('DOMContentLoaded', (event) => {
        const codeJson = document.querySelectorAll("code.language-json");
        const inputTags = document.querySelectorAll(".input-tags");

        codeJson && codeJson.forEach((el) => {
            console.log(el);
            el.innerHTML = printTheJSONInPrettyFormat(el.innerHTML);
        });

        inputTags && inputTags.forEach((el) => {
            console.log(el);
            UseBootstrapTag(el);
        });
    })

    // prettify code json
    hljs.highlightAll();
</script>

{% block scriptsbottom %}
{% endblock %}

</body>
</html>
