<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if meta is defined and meta.title is defined %}{{ meta.title }}{% elseif title is defined %}{{ title }}{% else %}Welcome{% endif %}{% endblock %}</title>

    {% if meta is defined %}
        {% include 'landing-page/meta.html.twig' %}
    {% endif %}

    <style>
        @font-face {
            font-family: 'Aller Regular'; /*a name to be used later*/
            src: url('{{ absolute_url(asset('fonts/Aller_Rg.ttf', 'css')) }}'); /*URL to font*/
        }
    </style>

    <link rel="stylesheet" href="{{ absolute_url(asset('highlight.default.min.css', 'css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap-icons.min.css', 'bootstrap')) }}">
    <link href="{{ absolute_url(asset('css/bootstrap.min.css', 'bootstrap')) }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ absolute_url(asset('style.css', 'css')) }}">

</head>

<body class="">

{% include'icons.html.twig' %}

<div id="home"></div>

{% block header %}
<div id="header" class="fixed-top">
    {% include "landing-page/components/sections/header/fixed-top.html.twig" %}

    <div>
        {% embed "_notification/flash/messages.flash.html.twig" %}{% endembed %}
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="page-landing">
{#        {% include "landing-page/components/sections/header/fixed-top.html.twig" %}#}
        {% include 'landing-page/components/sections/first-screen/hero-with-button-and-cover.html.twig' %}
        {% include 'landing-page/components/sections/features/3-in-row.html.twig' %}
        {% include 'landing-page/components/sections/how-it-works/3-in-column-with-covers.html.twig' %}
        {% include 'landing-page/components/sections/testimonial/carousel.html.twig' %}
        {% include 'landing-page/components/sections/pricing/standard-3-in-row.html.twig' %}
        {% include 'landing-page/components/sections/newsletter/standard.html.twig' %}
    </div>

{#    make fake checkout as modal window#}
    {% include 'landing-page/components/sections/checkout/simple.html.twig' %}
{% endblock %}

{% block footer %}
    {% include 'landing-page/components/sections/footer/standard.html.twig' %}
{% endblock %}

<script src="{{ absolute_url(asset('js/bootstrap.bundle.min.js', 'bootstrap')) }}"></script>
<script src="{{ absolute_url(asset('highlight.min.js', 'js')) }}"></script>

{% block scriptsbottom %}
<script type="application/javascript">
    function printTheJSONInPrettyFormat(json) {
        return JSON.stringify(JSON.parse(json), undefined, 4);
    }

    function scrollTo(hash) {
        location.hash = "#" + hash;
    }

    const btnSubmitCheckout = document.getElementById("btn-submit-checkout");
    const btnBackToLanding = document.getElementById("btn-back-to-landing");
    const btnGoToPayment = document.querySelectorAll(".btn-goto-payment");
    const alerts = document.querySelectorAll(".alert");
    const pageLanding = document.getElementById("page-landing");
    const pageCheckout = document.getElementById("page-checkout");

    btnSubmitCheckout && btnSubmitCheckout.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
    });

    btnBackToLanding && btnBackToLanding.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
        pageLanding && pageLanding.classList.toggle("d-none");
        pageCheckout && pageCheckout.classList.toggle("d-none");
        scrollTo('pricing');
    });

    btnGoToPayment && btnGoToPayment.forEach((e) => e.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();;
        pageLanding && pageLanding.classList.toggle("d-none");
        pageCheckout && pageCheckout.classList.toggle("d-none");
    }));

    alerts && alerts.forEach((e) => e.addEventListener('click', function (e) {
        console.log(this);
        e.preventDefault();
        e.target.remove();
    }));

    document.addEventListener('DOMContentLoaded', (event) => {
        const codeJson = document.querySelectorAll("code.language-json");
        codeJson && codeJson.forEach((el) => {
            console.log(el);
            el.innerHTML = printTheJSONInPrettyFormat(el.innerHTML);
        });
    });

</script>

<script>
    hljs.highlightAll();
</script>
{% endblock %}

</body>
</html>
